.profile-img {
    img {
        width: 100%;
        max-width: 100px;
    }
}

.profile {
    margin-top: 144px;
    margin-left: 18px;
}

.profile-wrapper {
    background: $white;

    h1 {
        color: unset;
        font-weight: bold;
    }

    p, i, a {
        color: $grey;
        font-weight: bold;
    }
}

.row {
    img {
        box-shadow: rgb(50 50 93 / 25%) 0 50px 100px -20px,
        rgb(0 0 0 / 99%) 0px 30px 60px -30px;
        max-width: 500px;
    }
}

@media screen and (max-width: 768px) {
    .text {
        text-align: center;
        margin-top: 30px;
    }
}
