.students-section {
    flex-wrap: wrap;
    .students{
        max-width: 400px;
        width: 100%;
        img {
            width: 100%;
            border-radius: 8px;
            transition: 0.1s ease-in-out;
        }
        h5, p {
            text-align: center;
            margin-top: 10px;
        }
        p {
            color:$grey;
        }
        img {
            &:hover{
                opacity: 0.8;
            }
        }
    }
    .image-overlay {
        opacity: 0;
        background: #000000;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        transition: 0.5s ease-in-out;
    }

    .image-decorated{
        &:hover{
            .image-overlay {
                opacity: 0.3;
            }
        }
    }
}
