header {
    background-color:#fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.navbar {
    .nav-item {
        .nav-link {
            color: $grey;
            &:after {
                @include icons;
                color: #06063d;
                margin: 10px;
            }
            &:hover {
                color: $black;
            }
        }

        &:first-of-type {
            .nav-link {
                &:after {
                    content: '\f19d';
                }
            }
        }

        &:nth-child(2) {
            .nav-link {
                &:after {
                    content: '\f501';
                }
            }
        }

        &:nth-child(3) {
            .nav-link {
                &:after {
                    content: '\f095';
                }
            }
        }

        &:nth-child(4) {
            .nav-link {
                &:after {
                    content: '\f007';
                }
            }
        }
    }

    #nav-icon4 {
        @include hamburger_parameters;
        width: 38px;
        height: 45px;
        position: relative;
        top: 0;
        transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        cursor: pointer;

        span {
            @include hamburger_parameters;
            @include text;
            height: 3px;
            background: #000;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transition: .25s ease-in-out;
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0;
                @include hamburger;
            }

            &:nth-child(2) {
                top: 11px;
                @include hamburger;
            }

            &:nth-child(3) {
                top: 22px;
                @include hamburger;
            }
        }

        &.open {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    top: -5px;
                    left: 8px;
                }

                &:nth-child(2) {
                    width: 0;
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    top: 23px;
                    left: 8px;
                }
            }
        }
    }
}
